// Define variables
$icon-size: 30px;
$max-logo-height: 50px;
$max-width-10: 20rem;
$background-image-url: '../img/gymbros_fondo_sitio_claro.png';
$input-container-max-width: 300px;
$carousel-bg-color: black;
$carousel-img-max-size: 70%;

// Mixin para la fuente
@mixin font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

// Estilos
.social-icon-img {
  width: $icon-size;
  height: $icon-size;
}

.logo-img {
  max-height: $max-logo-height;
}

.max-width-10 {
  max-width: $max-width-10;
}

.background-image-container {
  background-image: url('#{$background-image-url}');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.input-container {
  max-width: $input-container-max-width;
  margin: 0px auto;
}

#mySlider.carousel {
  background-color: $carousel-bg-color;
}

#mySlider {
  .carousel-inner {
    .carousel-item img {
      max-width: $carousel-img-max-size;
      max-height: $carousel-img-max-size;
      margin: 0px auto;
    }
  }
}

body {
  @include font-montserrat;
}


//aplicacion de animaciones
.btn-danger:hover {
  transform: scale(1.1); /* Escala el botón al 110% de su tamaño original */
  transition: transform 0.3s; /* Agrega una transición suave de 0.3 segundos */
}

.social-icon-img:hover {
  transform: scale(1.1); /* Escala la imagen al 110% de su tamaño original */
  transition: transform 0.3s; /* Agrega una transición suave de 0.3 segundos */
}

.logo-letters:hover {
  transform: translateX(20px); /* Desplaza la imagen hacia la derecha 20px */
  transition: transform 0.3s; /* Agrega una transición suave de 0.3 segundos */
}

.navbar-nav .nav-item:hover {
  transform: scale(1.1); /* Escala el item del menú al 110% de su tamaño original */
  transition: transform 0.3s; /* Agrega una transición suave de 0.3 segundos */
}

.media:hover iframe {
  transform: translateY(-10px); /* Mueve el video hacia arriba 10px */
  transition: transform 0.3s; /* Agrega una transición suave de 0.3 segundos */
}

//icono flotante de WhatsApp
/* Estilos para el icono flotante de WhatsApp */
/* Estilos para el icono flotante de WhatsApp */
.floating-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
}

.whatsapp-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
}

.whatsapp-icon img {
  width: 24px;
  height: 24px;
}

.whatsapp-text {
  margin-top: 5px;
  color: white;
  font-size: 14px;
}
